@{
    ViewBag.Title = "Closest Address";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div>
    <br />
    <br />
    <label>Address:</label>
    <input type="text" value="" id="txtAddress" /><br /><br />
    <input type="button" value="Submit" id="btnSearch" /><br /><br />
    <table id="tblAddressList">
        <thead>
            <tr>
                <td><label>ADDRESS</label></td>
                <td><label>KM</label></td>
            </tr>
        </thead>
        <tbody id="tblAddressResult"></tbody>
    </table>
</div>
<script src="~/CustomScript/ClosestAddress.js"></script>